body{
    overflow-y: scroll;
}

#root{
    display: flex;
    position: relative;
    height: 100vh;
}

body::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.fa-user-circle{
    color: rgb(45, 87, 146);
}


.input-style-1{
    border-radius: 3px;
    border-style: none;
    border: 1px solid rgb(150,150,150);
    padding: 5px;
}

// Horizontal Flex
.flexh-1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexh-2{
    display: flex;
    justify-content: center;
}

.flexh-3{
    display: flex;
    align-items: center;
}

.flexh-4{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.flexh-5{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flexh-6{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.flexh-7{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flexh-8{
    display: flex;
    align-items: flex-end;
}

.flexh-9{
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

.flexh-1x{
    display: flex;
    align-items: flex-start;
}

// Vertical Flex
.flexv-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flexv-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flexv-3{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flexv-4{
    display: flex;
    flex-direction: column;
}

.flexv-5{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.flexv-6{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.flexv-7{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flexv-8{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.flexv-9{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.flexv-10{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.max-w-h{
    height: 100%;
    width: 100%;
}

.w-100{
    width: 100%;
}

.h-100{
    height: 100%;
}

.dark{
    background: rgb(75,75,75);
    color: white;
}

.tag-14{
    border-radius: 4px;
    padding: 1px 5px;
}

.mgt-24{
    margin-top: 24px;
}

.box-shad-s1 {
    box-shadow: 5px 3px 14px rgba(100,100,100, 0.5);
}