html{
    height: 100%;
}

body{
    height:inherit;
}

#root{
    display: flex;
    height: inherit;
    position: relative;
}



body::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.fa-user-circle{
    color: rgb(45, 87, 146);
}


.input-style-1{
    border-radius: 3px;
    border-style: none;
    border: 1px solid rgb(150,150,150);
    padding: 5px;
}

.flex-hzntal-ctr-all{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-hzntal-ctr-1{
    display: flex;
    justify-content: center;
}

.flex-hzntal-ctr-2{
    display: flex;
    align-items: center;
}


.flex-vert-ctr-all{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex-vert-ctr-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-vert-ctr-2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-vert{
    display: flex;
    flex-direction: column;
}

.flex-vert-start-1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.max-w-h{
    height: 100%;
    width: 100%;
}

.dark{
    background: rgb(75,75,75);
    color: white;
}

.tag-14{
    border-radius: 4px;
    padding: 1px 5px;
}

