#channel-main-content{
    position: relative;
    grid-column: 2 / 3;
    width: 100%;
    min-height: 1045px;
}

#channel-main-content > div {
    grid-template-rows: 60px 140px auto;
    display:grid;
}

#channel-header{
    grid-row: 2 / 3;
    background: rgb(250, 250, 250);
    height: 100%;
    display: grid;
    grid-template-rows: auto 45px;
}

#channel-header-msc-grid-hook{
    grid-row: 1 / 2;
    display: flex;
    align-items: center;    
}

#channel-header-msc{
    display:flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}

#channel-header-profile{
    grid-column: 1 / 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#channel-header-profile > i{   
    font-size: 80px;
    color: rgb(32, 87, 151);
    padding-right: 25px;
}

#channel-header-profile-info{
    display:flex;
    flex-direction: column;
}

#channel-header-profile-info > span:first-child{
    font-size: 25px;
    padding-bottom: 5px;
}

#channel-header-profile-info > span:nth-child(2){
    color: rgb(90, 90, 90);
    font-size:14px;
}


#channel-header-buttons {
    display: flex;
    align-content: center;
    justify-content: center;
}

#subscribe-button {
    height: 35px;
    width: 150px;
    background: rgb(187,38, 26);
    border-radius: 3px;
    color: white;
    font-size: 14px;
    position: relative;
}

#subscribe-button:active {
    outline: none;
}
#subscribe-button:focus{
    outline: none;
}

#subscribe-button:hover{
    cursor: pointer;
}

#channel-header-nav{
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
}

#channel-header-nav > ul{
    display: flex;
    align-items: center;
    padding-left: 80px;
    width: 740px;
}


#channel-header-nav > ul > li{
    padding: 0 25px;
    height: 43px;
    font-size: 14px;
    color: rgb(90, 90, 90);
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgb(250, 250, 250);
}

#channel-header-nav > ul > li.channel_tab_active{
    border-bottom: 2px solid black;
    color: black;
    transition: border-bottom 0.6s linear;
}


#channel-header-nav > ul > li:hover{
    color:black;
    cursor: pointer;
}

#channel-header-nav > ul > li:active {
    background:rgb(225,225,225);
}

#channel-header-nav > ul > li:not(.channel_tab_active):active{
    border-bottom: 2px solid rgb(225,225,225);
}



