#channel-main-content-grid-toggled{
    display: grid;
    grid-template-columns: 240px auto;
    width: 100%;
    height: 100%;
    position: absolute;
}

#channel-main-content-grid{
    display: grid;
    grid-template-columns: 70px auto;
    width: 100%;
    height: 100%;
    position: absolute;
}

#channel-main-content{
    position: relative;
    grid-column: 2 / 3;
    width: 100%;
    min-height: 1045px;
}

#channel-main-content-wrapper{
    grid-template-rows: 60px 95px 45px auto;
    display:grid;
    height: 100%;
}

#channel-header{
    grid-row: 2 / 3;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(250, 250, 250);
    overflow: hidden;
}

#channel-header-wrap{
    background: rgb(250, 250, 250);
    height: 100%;
    width: 1256px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    transition: width 0.2s linear;
}



#channel-header-profile{
    grid-column: 1 / 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#channel-header-profile > i{   
    font-size: 80px;
    color: rgb(32, 87, 151);
    padding-right: 25px;
}

#channel-header-profile-info{
    display:flex;
    flex-direction: column;
}

#channel-header-profile-info > span:first-child{
    font-size: 25px;
    padding-bottom: 5px;
}

#channel-header-profile-info > span:nth-child(2){
    color: rgb(90, 90, 90);
    font-size:14px;
}


#channel-header-buttons {
    display: flex;
    align-content: center;
    justify-content: center;
}

#subscribe-button {
    height: 35px;
    width: 150px;
    background: rgb(187,38, 26);
    border-radius: 3px;
    color: white;
    font-size: 14px;
    position: relative;
}

#subscribe-button:active {
    outline: none;
}
#subscribe-button:focus{
    outline: none;
}

#subscribe-button:hover{
    cursor: pointer;
}


#channel-header-nav{
    grid-row: 3 / 4;
    background: rgb(250, 250, 250);
}

#channel-header-nav-toggled{
    grid-row: 3 / 4;
    background: rgb(250, 250, 250);
}


#channel-header-nav-fixed-toggled{
    grid-row: 3 / 4;
    position: fixed;
    background: rgb(250, 250, 250);
    top: 60px;
    width: calc(100% - 240px);
    z-index: 2;
}

#channel-header-nav-fixed{
    grid-row: 3 / 4;
    position: fixed;
    background: rgb(250, 250, 250);
    top: 60px;
    width: calc(100% - 70px);
    z-index: 1;

}

#channel-header-nav-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;

}

#channel-header-nav-wrapper > div{
    width: 1256px;
    display: grid;
    grid-template-columns: 1069px 187px;
    transition: width 0.2s linear;
}

#channel-header-nav-wrapper-fixed > div{
    width: 100%;
    display: grid;
    grid-template-columns: 1069px 187px;
    transition: width 0.2s linear;
}


#channel-header-nav-list{
    display: flex;
    align-items: center;
}


#channel-header-nav-list > li{
    padding: 0 30px;
    height: 43px;
    font-size: 14px;
    color: rgb(90, 90, 90);
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgb(250, 250, 250);
    transition: border-bottom 0.25s linear;
}

#channel-header-nav-list > li.channel_tab_active{
    border-bottom: 2px solid black;
    color: black;
    transition: border-bottom 0.6s linear;
}


#channel-header-nav-list > li:hover{
    color:black;
    cursor: pointer;
}

#channel-header-nav-list > li:active {
    background:rgb(225,225,225);
}

#channel-header-nav-list > li:not(.channel_tab_active):active{
    border-bottom: 2px solid rgb(225,225,225);
}

.thumbnails-media {
    width: 210px;
    height: 117.5px;
    padding-bottom: 10px;
    position: relative;
    z-index: 1;
}

.thumbnail-preview-video{
    opacity: 0;
    position: absolute;
    width: 210px;
    height: 117.5px;
    z-index: -2;
    transition: opacity 0.1s linear;
}

.thumbnails:hover{
    cursor: pointer;
}

.thumbnails > section {
    position: relative;
    z-index: 1;
}

.thumbnail-preview-video-active{
    width: 210px;
    height: 117.5px;
    opacity: 1;
    position: absolute;
    z-index: -2;
}


.thumbnail-preview {
    width: 210px;
    height: 117.5px;
    position: relative;
    z-index: 1;
    opacity: 1;
    transition: opacity 0.1s linear;
}



.thumbnail-preview-active{
    opacity: 0;
    width: 210px;
    height: 117.5px;
    z-index: 1;
    position: absolute;
    transition: opacity 0.3s linear;
}




.ch-title{
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 10px;
}

.midot{
    font-size: 18px;
}

.ch-msc{
    font-size: 13px;
    height: 30px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgb(107, 107, 107);
}



#channel-main-content-lower{
    grid-row: 4/5;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;

}

#ch-main-content-lower-grid-hook{
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1069px 187px;
    width: 1256px;
    transition: width 0.2s linear;
}

#ch-main-contentlower-grid-hook > div{
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
}

#featured-video-ctn{
    display: grid;
    grid-template-columns: 420px auto;
    padding: 24px 0px;
}

#featured-video-ctn > video {
    width: 420px;
    max-width: 420px;
    height: 235px;
    max-height: 235px;
    margin-right: 24px;
}

#featured-video-title{
    font-weight: bold;
}

#featured-video-description{
    font-size: 14px;
}

#featured-video-views{
    font-size: 14px;
    color: rgb(96,96,96);
}

#featured-video-ctn  a {
    text-decoration: none;
    color: rgb(96,96,96);
    font-size: 15px;
    
}

#featured-video-info{
    margin-left: 24px;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 235px;
}

#featured-video-info > div{
    display: flex;
    flex-direction: column;
}

#featured-video-info > div:first-child{
    margin-bottom: 16px;
}

#featured-video-info > div:first-child > span:first-child{
    margin-bottom: 16px;
}

#featured-video-info > div:last-child{
    overflow: hidden;
}

#featured-video-info > div:last-child > span:first-child{
    height: 150px;
    overflow: hidden;
}


#featured-videos{
    border-top:1px solid rgb(229, 229, 229);
}


#channel-video-content-lower{
    grid-row: 4/5;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

#ch-vid-ctn-nav{
    height: 70px;
    width: 88.5%;
    display: flex;
    align-items: center;
}

#ch-vid-ctn-nav-toggled{
    height: 70px;
    width: 79%;
    display: flex;
    align-items: center;
}


#user-all-videos-list{
    grid-auto-rows: auto;
    width: 88.5%;
}

#user-all-videos-list-toggled{
    grid-auto-rows: auto;
    width: 79.1%;
}

#user-all-videos-list .thumbnails{
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 24px;
    height: 186px;
}

#user-all-videos-list-toggled .thumbnails{
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 24px;
    height: 186px;
}

