.ch-mn-ctnt-grid{
    display: grid;
    grid-template-columns: 70px auto;
    position: absolute;
}

.cmcg-tgl{
    grid-template-columns: 240px auto;
}

.ch-mn-ctnt{
    position: relative;
    grid-column: 2 / 3;
    width: 100%;
    min-height: 1045px;
}

.ch-mn-ctnt-wrap{
    grid-template-rows: 55px 95px 45px auto;
    display:grid;
    height: 100%;
}

.ch-hdr{
    grid-row: 2/3;
    width: 100%;
    background: rgb(250, 250, 250);
    overflow: hidden;
}


.ch-hdr-wrap{
    background: rgb(250, 250, 250);
    height: 100%;
    width: 1256px;
    transition: width 0.2s linear;
}

.chr-prf-i{   
    font-size: 80px;
    color: rgb(32, 87, 151);
    padding-right: 25px;
}

#chprf-i > span:first-child{
    font-size: 25px;
    padding-bottom: 5px;
}

#chprf-i > span:nth-child(2){
    color: rgb(90, 90, 90);
    font-size:14px;
}

#subscribe-button {
    height: 35px;
    width: 150px;
    background: rgb(187,38, 26);
    border-radius: 3px;
    color: white;
    font-size: 14px;
    position: relative;
    border: none;
}

#subscribe-button:active {
    outline: none;
}
#subscribe-button:focus{
    outline: none;
}

#subscribe-button:hover{
    cursor: pointer;
}

#subscribed-button {
    height: 35px;
    width: 150px;
    background: rgb(225,225, 225);
    border-radius: 3px;
    color: rgb(96,96,96);
    font-size: 14px;
    position: relative;
    border: none;
}

#subscribed-button:active {
    outline: none;
}
#subscribed-button:focus{
    outline: none;
}

#subscribed-button:hover{
    cursor: pointer;
}


.ch-hdr-nav{
    grid-row: 3/4;
    background: rgb(250, 250, 250);
}

.chhn-tgl{
    min-width: 580px;
}

.chhn-fixed{
    position: fixed;
    top: 56px;
    width: calc(100% - 240px);
    z-index: 99;
}

.chhw-wrap{
    width: 1256px;
    display: grid;
    grid-template-columns: 1069px 187px;
    transition: width 0.2s linear;
}

.ch_tb{
    padding: 0 30px;
    height: 43px;
    font-size: 14px;
    color: rgb(90, 90, 90);
    border-bottom: 2px solid rgb(250, 250, 250);
    transition: border-bottom 0.25s linear;
}

.ch_tb_active{
    border-bottom: 2px solid black;
    color: black;
    transition: border-bottom 0.6s linear;
}


.ch_tb:hover{
    color:black;
    cursor: pointer;
}

.ch_tb:active {
    background:rgb(225,225,225);
}


.tbn-ctnt {
    width: 210px;
    height: 117.5px;
    padding-bottom: 10px;
    position: relative;
    z-index: 1;
}


.thumbnail-preview-video{
    opacity: 0;
    position: absolute;
    width: 210px;
    height: 117.5px;
    z-index: -2;
    transition: opacity 0.1s linear;
}

.thumbnails > div:hover{
    cursor: pointer;
}

.thumbnails > section {
    position: relative;
    z-index: 1;
}

.tn-prev-vid-active{
    width: 210px;
    height: 117.5px;
    opacity: 1;
    position: absolute;
    z-index: -2;
    object-fit: cover;
}

.tbn-prev-wrap{
    position: relative;
    z-index: 1;
    opacity: 1;
    transition: opacity 0.15s linear;
    height: inherit;
}


.tbn-active{
    opacity: 0;
    position: absolute;
    transition: opacity 0.5s ease-in;
}


.thumbnail-preview {
    width: 210px;
    height: 117.5px;
    position: relative;
    visibility: hidden;
}


.loaded{
    visibility: visible;
}

.not-loaded{
    animation: color-shift 2s infinite
}

@keyframes color-shift{
    0% {background: rgb(230,230,230)}
    50% {background: rgb(210,210,210)}
    100% {background: rgb(230,230,230)}
}

.video-time{
    background:rgba(0, 0, 0, 0.8);
    color:white;
    font-size: 12px;
    position: absolute;
    padding: 2px 4px;
    bottom:8px;
    right:5px;
}

.thumbnail-clock{
    padding: 3px;
    background:rgba(0, 0, 0, 0.7);
    color:rgba(255,255,255,0.7);
    border-radius:2px;
    position: absolute;
    z-index: 2;
    right: 5px;
    top: 5px;
}

.thumbnail-clock .clock{
    font-size: 20px;
    margin-left: 1px;
}


.ch-title{
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 10px;
}

.midot{
    font-size: 18px;
}

.ch-msc{
    font-size: 13px;
    height: 30px;
    color: rgb(107, 107, 107);
}


.ch-ctnt-lwr{
    grid-row: 4 / 5;
    width: 100%;
    overflow: hidden;
}

.ch-ctn-lwr-hk{
    display: grid;
    grid-template-columns: 1069px 187px;
    width: 1256px;
    transition: width 0.2s linear;
}


.ftr-vid-ctn{
    display: grid;
    grid-template-columns: 420px auto;
    margin: 24px 0px;
    position: relative;
}

.ftr-vid-ctn > video {
    width: 420px;
    max-width: 420px;
    height: 235px;
    max-height: 235px;
    margin-right: 24px;
    object-fit: cover;
    position: absolute;
}

.ftr-vid-views{
    font-size: 14px;
    color: rgb(96,96,96);
}

.ftr-vid-ctn  a {
    text-decoration: none;
    color: rgb(96,96,96);
    font-size: 15px;
    
}

.ftr-vid-info{
    grid-column: 2/3;
    margin-left: 24px;
    width: 100%;
    height: 235px;
}

.ftr-vid-info > div:first-child{
    margin-bottom: 16px;
}

.ftr-vid-info > div:last-child{
    overflow: hidden;
}

.ftr-vid-title{
    font-weight: bold;
    margin-bottom: 16px;
}

.ftr-vid-desc{
    font-size: 14px;
    height: 150px;
    overflow: hidden;
}

.ftr-vids{
    border-top:1px solid rgb(229, 229, 229);
}

.cvc-lower{
    grid-row: 4/5;
    width: 100%;
}

.cvc-nav{
    height: 70px;
    width: 88.5%;
}

.cvc-nav-tgl{
    width: 79%;
}

.usr-av-lst{
    grid-auto-rows: auto;
    width: 88.5%;
}

.uav-lst-tgl{
    width: 79.1%;
}

.usr-av-lst .thumbnails{
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 24px;
    height: 186px;
}

