#login-container-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#login-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid lightgray;
    width: 400px;
    height: 450px;
    overflow: hidden;
    border-radius: 10px;
    position: absolute;
    
}

#demo-account-link{
    color: rgb(53, 103, 197);
}

#demo-account-link:hover{
    cursor: pointer;
}

#login-container > h2 {
    font-size: 30px;
}

#login-container-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#auth-div{
    position: relative;
    width:370px;
    height: 300px;
}
.auth-form-ctn{
    position: absolute;
    padding:10px;
}
.auth-form{
    display: flex;
    width: 350px;
    flex-direction: column;
    height: 250px;
    justify-content: space-between;
}

.auth-form button {
    background:  #1a73e8;
    height: 40px;
    font-size: 20px;
    color:white;
    border-radius: 5px;
    width: 80px;
}

.auth-form button:hover{
    cursor: pointer;
    border: 3px solid #6cacff;
} 


.auth-form a{
    text-decoration: none;
    color: #1a73e8;
}
.auth-form label{
    display: flex;
    flex-direction: column;
    position: relative;
}

.auth-form > label > span {
    padding-top: 5px;
}


.auth-form > section {
    display: flex;
    width: 350px;
    justify-content: space-between;
    align-items: center;
}

.session-form-enter{
    transform: translateX(300px);
}

.session-form-enter.session-form-enter-active{
    transform: translateX(0);
    transition: transform 500ms ease-in;
}

.session-form-leave{
    transform:  translateX(0);
}

.session-form-leave.session-form-leave-active{
    transform: translateX(-300px);
    transition: transform 300ms ease-in;
}


.input-tag{
    position: absolute;
    font-size: 12px;
    left: 8px;
    top: -5px;
    color: rgb(117,117,177);
    background: white;
    padding: 3px;
}


.auth-input-placeholder-enter{
    font-size: 20px;
    left: 10px;
    top: 20px;
}

.auth-input-placeholder-enter.auth-input-placeholder-enter-active{
    font-size: 12px;
    padding: 3px;
    background: white;
    position: absolute;
    color: rgb(117,117,177);
    left: 8px;
    top: -5px;
    transition: font-size 150ms ease-in, top 150ms ease-in, left 150ms ease-in;
}



.auth-input-placeholder-leave{
    font-size: 12px;
    left: 8px;
    top: -5px;
    padding: 3px;
    background: white;
}


.auth-input-placeholder-leave.auth-input-placeholder-leave-active{
    font-size: 20px;
    position: absolute;
    color: rgb(117,117,177);
    left: 12px;
    top: 20px;
    transition: font-size 150ms ease-in, top 150ms ease-in, left 150ms ease-in;
}


.auth-input {
    width: 318px;
    height: 30px;
    font-size: 20px;
    padding: 15px;
    border: 1px solid lightgray;
}


.auth-input-errors {
    width: 318px;
    height: 30px;
    font-size: 20px;
    padding: 15px;
}

.auth-input-errors:focus{
    border: 2px solid red;
    outline-color: red; 
}


.auth-label-errors  span{
    color: red;
}



.auth-logo{
    display:flex;  
    align-content: center;

}

#login-container > .auth-logo > h1{
    font-size: 25px;
}


