.main-content--container{
    display: grid;
    grid-template-columns: 70px auto;
    position: absolute;
    z-index: 103;
    margin-top: 56px;
    height: fit-content;
}

.main-content--toggled{
    grid-template-columns: 240px auto;
}


.main-content{
    grid-column: 2 / 3;
    background: rgb(250,250,250);
}


.show-more-inactive{
    height: 400px;
    overflow: hidden;
}


.recommended-video-container{
    display:flex;
    flex-wrap:wrap;
    width: 1284px;
}

.recommended-video-container .thumbnails{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 210px;
    margin-right: 4px;
    margin-bottom: 24px;
}

#show-more-button{
    height: 36px;
    outline:none;
    margin-bottom: 16px;
    margin-left: -7px;
    border: none;
    background: transparent;
    font-weight: 16px;
    color: rgb(114,114,114);
    font-size: 16px;
}

.channel-list{
    width: 1284px;
    padding-top: 10px;
    position: relative;
    overflow: hidden;
}


.channel-index{
    height: 295px;
    border-top: 1px solid rgb(225, 225, 255);
    display:grid;
    grid-template-rows: 70px auto;
}

.channel-index--hdr{
    grid-row: 1 / 2;
}

.channel-index--link{
    display: flex;
    align-items: center;
}

.channel-index--link .fas{
    font-size: 34px;
    margin-left: 2px;
}

.channel-index--link * {
    margin-right: 10px;
}

.channel-index--hdr-name{
    font-size: 12px;
    color: rgb(116,116,116);
}

.channel-index--hdr-name > a{
   text-decoration: none;
   color: black;
   font-size: 20px; 
}

.thumbnails {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 210px;
    margin-right: 4px;
}

.thumbnails > div:last-child{
    width: 100%;
}


