$defaultBlue: rgb(39, 97, 204);

.top-nav--container{
    width: 100%;
    height: 56px;
    position: fixed;
    background:rgba(255,255,255,0.98);
    z-index: 100000;
    top: 0;
}


.top-nav{
    display: grid;
    grid-template-columns: 180px auto 250px;
    padding: 0 15px;
    box-shadow: 0px 4px 8px -3px rgba(17, 17, 17, .06);
    height: inherit;
}

.top-nav .fas, .top-nav .fab{
    cursor: pointer;
}

.top-nav--section-1{
    width: 140px;
    justify-content: space-between;
}

.top-nav--section-1 > .fas{
    font-size: 18px;
    padding: 10px;
    border-radius: 20px;
    background: white;
    transition: background .8s;
}

.top-nav--section-1 > .fas:active{
    background: lightgray;
    transition: .3s;
}

.top-nav--section-2 {
    display:flex;
    width: 100%;
}


.top-nav--section-3{
    justify-content: space-between;
    width: 100%;
}


.top-nav--section-3 li > .fas:active, .top-nav--section-3 li > a > .fab:active{
    background: lightgray;
    transition: .3s;
}

.nav-bar--icon > a {
    text-decoration: none;
    margin: 0 auto;
}

.nav-bar--icon > a > h1{
    font-size: 15px;
    font-family: futura;
    color: #000;
}


.nav-bar--ul{
    width: 100%;
}

.nav-bar--ul > li >  a{
    text-decoration: none;
    font-size: 19px;
}


.fa-youtube{
    color: red;
    font-size: 25px;
}

.search-bar--input--container{
    position: relative;
}

.search-bar--input--container:focus{
    outline: none;
}

.search-bar--input{
    width: 555px;
    height: 30px;
    padding: 0 10px;
    font-size: 15px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border: 1px solid  rgb(204,204,204);
    outline:none;
    transition: width 0.2s linear;
}

.search-bar--input:active{
    border-color: rgb(106, 150, 202);
}

.search-bar--input:focus{
    box-shadow: inset -2px 2px 3px -3px;
    border-color: rgb(30, 80, 175);
}

.search-bar--button{
    height: 32px;
    width: 65px;
    padding: 0;
    font-size: 18px;
    color: rgb(128,128,128);
    background: rgb(248, 248, 248);
    border-left: 0px;
    border-color: rgb(211, 211, 211);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    outline: none;
}

.search-bar--button:active{
    background: rgb(233,233,233);
    border-style: solid;
}



.search-bar--dropdown{
    height: 0px;
    position: absolute;
    overflow: hidden;
    display: hidden;
}

.search-bar--dropdown-active{
    width: 100%;
    height: auto;
    background: white;
    margin-top: 12px;
    box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.2);
    border: 1px solid rgb(204,204,204);
    border-top: 4px solid rgba(190,190,190, 0.1);
    z-index: 200;
   
}

.search-bar--item--container{
    margin-top: 10px;
}

.search-bar--item--container > li{ 
    padding: 4px 24px 4px 10px;   
}

.search-bar--item--container > li:last-child{
    margin-bottom: 5px;
} 

.search-bar--item--container > li:hover{ 
    cursor: pointer;
}

.search-bar--item--container > li > span:first-child{
    font-size: 14px;
}

.search-bar--item--container > li > span:last-child{
    font-size: 14px;
    font-weight: bold;
}

.search-bar--item--selected{
    background: rgb(204,204,204);
}

.history{
    color: #52188c;
}



.login-button{
    margin-left: 5px;
    height: 40px;
    width: 110px;
    border: 2px solid $defaultBlue;
    border-radius: 2px;
    outline:none;
    background: white;
    transition: background, 0.5s;
    font-size: 15px;
    color: $defaultBlue;
    justify-content: space-around;
}

.login-button:active{
    background: lightgray;
    transition: background, 0.5s;
}

.login-button .fa-user-circle{
    padding: 0;
    font-size: 25px;
}

.login-button:hover{
    cursor: pointer;
}

.main-side-nav--container{
    width: 240px;
    position: fixed;
    z-index: 105;
    height: 100%;
    overflow-y: hidden;
    left: 0;
    margin-top: 56px;
}


.main-side-nav{
    background:rgb(245, 245, 245);
    width: 100%;
    height: inherit;
    overflow-y:hidden;
    position: absolute;
    z-index: 101;
}


.main-side-nav::-webkit-scrollbar{
    width: 8px;
}

.main-side-nav::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 5px solid slategrey;
}


.main-side-nav:hover, .main-side-nav--container:hover{
    overflow-y: scroll;
}

.main-side-nav > ul > li:hover {
    cursor: pointer;
}

.main-side-nav-ul {
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid rgb(220, 220, 220);
}

.main-side-nav > ul > li {
    width: 100%;
    height: 39px;
    color: rgb(144,144,144);

}
.main-side-nav > ul > li:first-child {
    display: grid;
    grid-template-columns: 70px auto;
}

.sub-list > li{
    display: grid;
    grid-template-columns: 70px auto;
}

.main-side-nav > ul > li > a {
    display: grid;
    grid-template-columns: 70px auto;
    width: 100%;
    height: 39px;
    color: rgb(144,144,144);
    text-decoration: none;
}

.main-side-nav > ul > li span {
    font-size: 14px;
    color: rgb(50,50,50);
}

.main-side-nav > ul > li i {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-side-nav-ul > li  i {
    font-size: 18px;
}

.main-side-nav > ul > li .fa-user-circle{
   color: rgb(45, 87, 146);
}

.sub-list > li >  i {
    font-size: 22px;
}

.main-side-nav > ul > li:hover{
    background: lightgray;
}

.main-side-nav--item{
    background: rgb(220, 220, 220)
}

.main-side-nav--item i{
    color: red;
}

.sub-side-nav--container{
    position: absolute;
    z-index: 100;
    height: 100%;
}

#sub-side-nav{
    height: 100%;
    background: rgb(245, 245, 245);
    width: 70px;
}

.sub-side-nav--content{
    background: rgb(245, 245, 245);
    padding-top: 7px;
}

.sub-side-nav--content a{
    text-decoration: none;
    height: 100%;
    width: 100%;
    color: rgb(144,144,144);
    font-size: inherit;
    justify-content: space-evenly;
}

.sub-side-nav--content > ul {
    width: 100%;
}

.sub-side-nav--content > ul > li{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 70px;
    height: 70px;
    font-size: 10px;
    background: rgb(245, 245, 245);
    color: rgb(144,144,144);
}

.sub-side-nav--content > ul > li:hover{
    cursor: pointer;
}

.sub-side-nav--content > ul > li  i {
    font-size: 18px;
}

.sub-side-nav--content > ul > li:hover{
    background: lightgray;
}

.sub-side-nav--icon--select  i, .sub-side-nav--icon--select span{
    color: red;
}

.sub-tag{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .007px;
    margin: 16px 24px 8px 24px;
    color: rgb(96,96,96);
}

.main-side-nav > ul > li #chev{
    font-size: 14px;
    color: rgb(144,144,144);
}

.main-side-nav--container-2{
    width: 240px;
    position: fixed;
    z-index: 200000;
    height: 100%;
    overflow-y: hidden;
    left: -240px;
    background: white;
    transition: transform 0.15s linear;
}

.side-nav-2--toggled{
    transform: translateX(240px);
}

.main-side-nav--container-cover{
    opacity: 0;
    width: 0%;
    height: 100%;
    position: fixed;
    z-index: 199999;
    background: rgba(0, 0, 0, 0.6);
}

.side-nav-2--cover--toggled{
    opacity: 1;
    width: 100%;
    transition: opacity 0.1s linear;
}

.top-nav--section-1--container{
    height: 56px;
    border-bottom: 1px solid rgb(220, 220, 220);
}

.top-nav--section-1--container > .top-nav--section-1 {
    margin-left: 15px;
}

.main-side-nav--container-2, .side-nav-2--toggled .main-side-nav{
    margin-top: -1px;
    background: white;
}

.icon-message{
    position: absolute;
    top:55px;
    z-index: 999;
    padding: 10px;
    background: rgb(75, 75, 75);
    border-radius: 3px;
    white-space: nowrap;
    font-size: 14px;
    color: white;
    opacity: 0;
    transition: opacity 0.25s linear;
}

.nav-icon-link{
    color: #606060;
    padding: 10px;
    border-radius: 20px;
    background: transparent;
    transition: background 0.8s;
}

.nav-icon-link:hover + .icon-message{
    opacity: 1;
    transition: opacity 0.5s ease-in;
}

.dropdown-container{
    position: relative;
}

.dropdown-container:focus{
    outline:none;
}

.dropdown-container li:hover{
    cursor: pointer;
}

.dropdown-container > .fa-user-circle{
    font-size: 35px;
    color: $defaultBlue;
}

.video-upload-dropdown{
    position: absolute; 
    top: 48px;
    left: -3px;
    z-index: 1000;
    width: 180px;
    padding: 5px 0;
    background: white;
    border: 1px solid lightgray;
}

.video-upload-dropdown > li:hover{
    background: lightgray;
    cursor: pointer;
}
