#main-nav-div{
    height: inherit;
    width: 100%;
    position: fixed;
    z-index: 100;
}


#top-nav-ctn{
    grid-row: 1 / 2;
    width: 100%;
    height: 56px;
    position: fixed;
    background:rgba(255,255,255,0.98);
    z-index: 106;
    top: 0;
}



#top-nav{
    box-shadow: 0px 4px 8px -3px rgba(17, 17, 17, .06);
    display: grid;
    grid-template-columns: 180px auto 250px;
    padding: 0 15px;
    height: inherit;
}

#nav-bar-icon{
    display: flex;
    align-items: center;
}

#nav-bar-icon > a {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 0 auto;
}


#nav-bar-icon > a > h1{
    font-size: 15px;
    font-family: futura;
    font-family: futura;
    color: #000;
}

.fa-youtube{
    color: red;
    font-size: 25px;
}


#top-nav-sec-1{
    grid-column: 1 / 2;
    display: flex;
    width: 140px;
    justify-content: space-between;
    align-items: center;
}


#top-nav-sec-1 > .fas{
    font-size: 18px;
    padding: 10px;
    border-radius: 20px;
    background: white;
    transition: background .8s;
}

#top-nav-sec-1 > .fas:active{
    background: lightgray;
    transition: .3s;
}

#top-nav-sec-2 {
    display:flex;
    grid-column: 2 / 3;
    width: 100%;
}

#search-bar{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

#search-bar-input-ctn{
    position: relative;
}

#search-bar-input{
    width: 555px;
    height: 30px;
    padding: 0 10px;
    font-size: 15px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border: 1px solid  rgb(204,204,204);
    outline:none;
    transition: width 0.2s linear;
}

#search-bar-input:active{
    border-color: rgb(106, 150, 202);
}

#search-bar-input:focus{
    box-shadow: inset -2px 2px 3px -3px;
    border-color: rgb(30, 80, 175);
}

#search-bar-button{
    height: 32px;
    width: 65px;
    font-size: 18px;
    color: rgb(128,128,128);
    background: rgb(248, 248, 248);
    border-left: 0px;
    border-color: rgb(211, 211, 211);
    padding: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    outline: none;
}

#search-bar-button:active{
    background: rgb(233,233,233);
    border-style: solid;
}

#search-modal-active{
    position: absolute;
    width: 100%;
    height: auto;
    background: white;
    margin-top: 12px;
    box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.2);
    border: 1px solid rgb(204,204,204);
    border-top: 4px solid rgba(190,190,190, 0.1);
    transition: height 0.1s linear;
}

#search-modal{
    position: absolute;
    //width: 0px;
    height: 0px;
    display: none;
    transition: height 0.1s linear;
}



#search-modal-list{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

#search-modal-list > li{ 
    padding: 4px 24px 4px 10px;   
}

#search-modal-list > li:last-child{
    margin-bottom: 5px;
} 

#search-modal-list > li:hover{ 
    cursor: pointer;

}

.sbsd_d{
    background: rgb(204,204,204);
}

#search-modal-list > li > span:first-child{
    font-size: 14px;
}

#search-modal-list > li > span:last-child{
    font-size: 14px;
    font-weight: bold;
}



#top-nav-sec-3{
    display:flex;
    align-items: center;
    justify-content: space-between;
    grid-column: 3 / 4;
    width: 100%;
}

#top-nav-sec-3 li:not(:nth-child(4)) > .fas{
    color: rgb(96, 96, 96);
    padding: 10px;
    border-radius: 20px;
    background: transparent;
    transition: background 0.8s;
}

#top-nav-sec-3 .fa-ellipsis-v{
    color: rgb(96, 96, 96);
    padding: 10px 15px;
    border-radius: 20px;
    background: transparent;
    transition: background 0.8s;
}

#top-nav-sec-3 .fa-bell{
    color: rgb(96, 96, 96);
    padding: 8px;
    border-radius: 22px;
    font-size: 20px;
    background: transparent;
    transition: background 0.8s;
}


#top-nav-sec-3  li > .fas:active{
    background: lightgray;
    transition: .3s;
}

#nav-bar-right-ul{
    display:flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

#top-nav  .fas{
    cursor: pointer;
}

.signin-button{
    height: 40px;
    width: 110px;
    border: 2px solid rgb(39, 97, 204);
    border-radius: 2px;
    outline:none;
    background: white;
    transition: background, 0.5s;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    color: rgb(39, 97, 204);
}

.signin-button:active{
    background: lightgray;
    transition: background, 0.5s;
}

.signin-button .fa-user-circle{
    padding: 0;
    font-size: 25px;
}

.signin-button:hover{
    cursor: pointer;
}



#main-side-nav-ctn{
    width: 240px;
    position: fixed;
    z-index: 105;
    height: 100%;
    overflow-y: hidden;
    left: 0;
    margin-top: 60px;
}


#main-side-nav{
    background:rgb(245, 245, 245);
    width: 100%;
    height: inherit;
    overflow-y:hidden;
    position: absolute;
    z-index: 101;
}


#main-side-nav:hover{
    overflow-y: scroll;
}

#main-side-nav > ul > li:hover {
    cursor: pointer;
}



#main-side-nav-ctn:hover{
    overflow-y: scroll;
 }

#main-side-fixed-hook{
    position: fixed;
    z-index: 3;
    width: inherit;
    height: inherit;
}

#main-side-nav > ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid rgb(220, 220, 220);
}

#main-side-nav > ul > li {
    display: grid;
    grid-template-columns: 70px auto;
    width: 100%;
    height: 39px;
    color: rgb(144,144,144);
}

#main-side-nav > ul > li > span {
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: black;
}


#main-side-nav > ul > li > i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    

}
#main-side-nav > ul > li:hover{
    background: lightgray;
}

.main-side-icon-selected{
    background: rgb(220, 220, 220)
}
.main-side-icon-selected  i{
    color: red;
}




#sub-side-nav-ctn{
    position: absolute;
    z-index: 100;
    height: 100%;
}

#sub-side-nav{
    height: 100%;
    background: rgb(245, 245, 245);
    width: 70px;
}

#sub-side-nav-content{
    display: flex;
    flex-direction: row;
    background: rgb(245, 245, 245);
    justify-content: center;
    padding-top: 7px;
}

#sub-side-nav-content > ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sub-side-nav-content > ul > li{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 70px;
    height: 70px;
    font-size: 10px;
    background: rgb(245, 245, 245);
    color: rgb(144,144,144);
}

#sub-side-nav-content > ul > li:hover{
    cursor: pointer;
}

#sub-side-nav-content > ul > li > i {
    font-size: 18px;
}

#sub-side-nav-content > ul > li:hover{
    background: lightgray;
}

.sub-side-icon-selected  i, .sub-side-icon-selected span{
    color: red;
}
