.tn-ctn{
    grid-row: 1 / 2;
    width: 100%;
    height: 56px;
    position: fixed;
    background:rgba(255,255,255,0.98);
    z-index: 999;
    top: 0;
}

.top-nav{
    display: grid;
    grid-template-columns: 180px auto 250px;
    padding: 0 15px;
    box-shadow: 0px 4px 8px -3px rgba(17, 17, 17, .06);
    height: inherit;
}

.top-nav .fas, .top-nav .fab{
    cursor: pointer;
}

.tns-1{
    width: 140px;
    justify-content: space-between;
}

.tns-1 > .fas{
    font-size: 18px;
    padding: 10px;
    border-radius: 20px;
    background: white;
    transition: background .8s;
}

.tns-1 > .fas:active{
    background: lightgray;
    transition: .3s;
}

.tns-2 {
    display:flex;
    width: 100%;
}


.tns-3{
    justify-content: space-between;
    width: 100%;
}

.tns-3 li:not(:nth-child(5)) > .fas, .tns-3 li:not(:nth-child(5)) > a > .fab{
    color: rgb(96, 96, 96);
    padding: 10px;
    border-radius: 20px;
    background: transparent;
    transition: background 0.8s;
}


.tns-3 li > .fas:active, .tns-3 li > a > .fab:active{
    background: lightgray;
    transition: .3s;
}

.nb-i > a {
    text-decoration: none;
    margin: 0 auto;
}

.nb-i > a > h1{
    font-size: 15px;
    font-family: futura;
    color: #000;
}


.nbr-ul{
    width: 100%;
}

.nbr-ul > li >  a{
    text-decoration: none;
    font-size: 19px;
}


#main-nav-div{
    height: inherit;
    width: 100%;
    position: fixed;
    z-index: 100;
}



.fa-youtube{
    color: red;
    font-size: 25px;
}

.sbi-ctn{
    position: relative;
}

.sbi-ctn:focus{
    outline: none;
}

.sbi{
    width: 555px;
    height: 30px;
    padding: 0 10px;
    font-size: 15px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border: 1px solid  rgb(204,204,204);
    outline:none;
    transition: width 0.2s linear;
}

.sbi:active{
    border-color: rgb(106, 150, 202);
}

.sbi:focus{
    box-shadow: inset -2px 2px 3px -3px;
    border-color: rgb(30, 80, 175);
}

.sbb{
    height: 32px;
    width: 65px;
    padding: 0;
    font-size: 18px;
    color: rgb(128,128,128);
    background: rgb(248, 248, 248);
    border-left: 0px;
    border-color: rgb(211, 211, 211);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    outline: none;
}

.sbb:active{
    background: rgb(233,233,233);
    border-style: solid;
}



.sch-mdl{
    height: 0px;
    position: absolute;
    overflow: hidden;
    display: hidden;
}

.sm-active{
    width: 100%;
    height: auto;
    background: white;
    margin-top: 12px;
    box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.2);
    border: 1px solid rgb(204,204,204);
    border-top: 4px solid rgba(190,190,190, 0.1);
    z-index: 200;
   
}

.sm-list{
    margin-top: 10px;
}

.sm-list > li{ 
    padding: 4px 24px 4px 10px;   
}

.sm-list > li:last-child{
    margin-bottom: 5px;
} 

.sm-list > li:hover{ 
    cursor: pointer;
}

.sm-list > li > span:first-child{
    font-size: 14px;
}

.sm-list > li > span:last-child{
    font-size: 14px;
    font-weight: bold;
}

.sbsd_d{
    background: rgb(204,204,204);
}

.history{
    color: #52188c;
}



.signin-btn{
    margin-left: 5px;
    height: 40px;
    width: 110px;
    border: 2px solid rgb(39, 97, 204);
    border-radius: 2px;
    outline:none;
    background: white;
    transition: background, 0.5s;
    font-size: 15px;
    color: rgb(39, 97, 204);
    justify-content: space-around;
}

.signin-btn:active{
    background: lightgray;
    transition: background, 0.5s;
}

.signin-btn .fa-user-circle{
    padding: 0;
    font-size: 25px;
}

.signin-btn:hover{
    cursor: pointer;
}

.msn-ctn{
    width: 240px;
    position: fixed;
    z-index: 105;
    height: 100%;
    overflow-y: hidden;
    left: 0;
    margin-top: 56px;
}


.msn{
    background:rgb(245, 245, 245);
    width: 100%;
    height: inherit;
    overflow-y:hidden;
    position: absolute;
    z-index: 101;
}


.msn::-webkit-scrollbar{
    width: 8px;
}

.msn::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 5px solid slategrey;
}

.msn #angellist{
    display: block;
    width: 100%;
}

.msn:hover{
    overflow-y: scroll;
}

.msn > ul > li:hover {
    cursor: pointer;
}



.msn-ctn:hover{
    overflow-y: hidden;
 }


#main-side-fixed-hook{
    position: fixed;
    z-index: 3;
    width: inherit;
    height: inherit;
}

.msn-ul {
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid rgb(220, 220, 220);
}

.msn > ul > li {
    width: 100%;
    height: 39px;
    color: rgb(144,144,144);

}
.msn > ul > li:first-child {
    display: grid;
    grid-template-columns: 70px auto;
}

.sub-list > li{
    display: grid;
    grid-template-columns: 70px auto;
}

.msn > ul > li > a {
    display: grid;
    grid-template-columns: 70px auto;
    width: 100%;
    height: 39px;
    color: rgb(144,144,144);
    text-decoration: none;
}

.msn > ul > li span {
    font-size: 14px;
    color: rgb(50,50,50);
}

.msn > ul > li i {
    display: flex;
    align-items: center;
    justify-content: center;
}

.msn-ul > li  i {
    font-size: 18px;
}

.msn > ul > li .fa-user-circle{
   color: rgb(45, 87, 146);
}

.sub-list > li >  i {
    font-size: 22px;
}

.msn > ul > li:hover{
    background: lightgray;
}

.msi-select{
    background: rgb(220, 220, 220)
}

.msi-select i{
    color: red;
}

.ssn-ctn{
    position: absolute;
    z-index: 100;
    height: 100%;
}

#ssn{
    height: 100%;
    background: rgb(245, 245, 245);
    width: 70px;
}

.ssn-content{
    background: rgb(245, 245, 245);
    padding-top: 7px;
}

.ssn-content a{
    text-decoration: none;
    height: 100%;
    width: 100%;
    color: rgb(144,144,144);
    font-size: inherit;
    justify-content: space-evenly;
}

.ssn-content > ul {
    width: 100%;
}

.ssn-content > ul > li{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 70px;
    height: 70px;
    font-size: 10px;
    background: rgb(245, 245, 245);
    color: rgb(144,144,144);
}

.ssn-content > ul > li:hover{
    cursor: pointer;
}

.ssn-content > ul > li  i {
    font-size: 18px;
}

.ssn-content > ul > li:hover{
    background: lightgray;
}

.ssi-select  i, .ssi-select span{
    color: red;
}

.sub-tag{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .007px;
    margin: 16px 24px 8px 24px;
    color: rgb(96,96,96);
}

.msn > ul > li #chev{
    font-size: 14px;
    color: rgb(144,144,144);
}

.msn-ctn-2{
    width: 240px;
    position: fixed;
    z-index: 200000;
    height: 100%;
    overflow-y: hidden;
    left: -240px;
    background: white;
    transition: transform 0.15s linear;
}

.mc2-toggled{
    transform: translateX(240px);
}

.msn-ctn-cvr{
    opacity: 0;
    width: 0%;
    height: 100%;
    position: fixed;
    z-index: 199999;
    background: rgba(0, 0, 0, 0.6);
    transition: opacity 0.1s linear;
}

.mcc-toggled{
    opacity: 1;
    width: 100%;
    transition: opacity 0.1s linear;
}

.tns-1-ctn{
    height: 56px;
    border-bottom: 1px solid rgb(220, 220, 220);
}

.tns-1-ctn > .tns-1 {
    margin-left: 15px;
}

.msn-ctn-2 .msn, .mc2-toggled .msn{
    margin-top: -1px;
    background: white;
}

.i-msg{
    position: absolute;
    opacity: 0;
    top:55px;
    transition: opacity 0.25s linear;
    font-size: 14px;
    padding: 10px;
    background: rgb(75, 75, 75);
    color: white;
    border-radius: 3px;
    white-space: nowrap;
}

.nav-i-link:hover + .i-msg{
    opacity: 1;
    transition: opacity 0.5s ease-in;
}




