.video-page--comment-section{
    grid-row: 4/5;
    display: grid;
    margin-top: 20px;
    grid-template-rows: auto auto;
}

.comment-form--ctn{
    grid-row: 1 / 2;
    width: 100%;
    display: grid;
    grid-template-columns: 55px auto;
}

.comment-form{
    grid-column: 2/3;
    width: 100%;
    display:grid;
    grid-template-rows: auto 2px auto;
}   

.comment-form > textarea{
    grid-row: 1 / 2;
    border: none;
    border-bottom: 1px solid lightgray;
    border-style: none;
    outline: none;
    font-size: 14px;
    resize: none;
    margin-bottom: 3px;

}

.comment-textbox--border{
    grid-row: 2 /3;
    height: 100%;
    width: 100%;
    background: lightgray;
    position: relative;
}

.expander{
    width: 0px;
    height: 100%;
    background: gray;
    transition: width 0.3s linear;
}

.exp-active{
    width: 100%;
}


.comment-form--btn--container{
    grid-row: 3 / 4;
    min-height: 48px;
}

.comment-form--btn{
    margin-top: 5px;
    margin-bottom: 40px;
}

.comment-form--btn > button:last-child.button-disabled{
    background: lightgray;
}

.comment-form--btn > button:first-child{
    background:transparent;
    color: gray;
    border:none;
}

.comment-form--btn > button:last-child{
    background: rgb(36, 97, 204);
    color: white;
    border-radius: 3px;
}
.comment-form button{
    width: 100px;
    height: 35px;
    font-size: 16px;
}

.comment-form button:active{
    outline: none;
}


#comments-list > li{
    margin-bottom: 10px;
}

.video-comment{
    min-height: 78px;
    display: grid;
    grid-template-rows: auto auto;
}


.video-comment--r1{
    display: grid;
    grid-template-columns: 55px auto;
}

.video-comment--icon{
    font-size: 32px;
}


.video-comment--r1-c2--hdr{
    grid-row: 1/2;
    width: 100%;
}


.video-comment--date{
    font-size: 12px;
    color: rgb(126,126,126);
    margin-left: 5px;
}

.video-comment--r1-c2--bdy{
    grid-row: 2 / 3;
    overflow: hidden;
    padding: 5px 0;
    max-height: 93px;
}

.comment-expanded{
    max-height: max-content;
}



.video-comment--r1-c2--bdy > div{
    word-break: break-word;
    width: 95%;
    height: auto;
    font-size: 14px;
    white-space: pre-wrap;
    line-height: 1.2rem;
}

.video-comment--r1-c2--ftr{
    grid-row: 3 / 4;
}

.span-style-1{
    font-size: 12px;
    font-weight:bold;
    margin: 3px 0;
}

.span-style-2{
    font-size: 15px;   
    margin: 3px 0;
    color: rgb(125, 125, 125)
}

.span-style-1:hover{
    cursor: pointer;
}

.span-style-2:hover{
    cursor: pointer;
}