.video-page--comment-section{
    grid-row: 4/5;
    display: grid;
    margin-top: 20px;
    grid-template-rows: auto auto;
}

.comment-form--ctn{
    width: 100%;
    display: grid;
    grid-template-columns: 55px auto;
}

