#splash-main-content{
    grid-column: 2 / 3;
    /* overflow-y:  scroll; */
}


#main-content-section-1{
    display: flex;
    justify-content: center;
    align-items: center;

}


#channels-list{
    width: 1275px;
    padding-top: 80px;
    position: relative;
    z-index: 10;
    overflow-y: scroll;
}

#channels-list-toggled{
    width: 1275px;
    padding-top: 80px;
    position: relative;
    overflow-y: scroll;
}

.channel_index_items{
    height: 295px;
    border-top: 1px solid rgb(225, 225, 255);
    display:grid;
    grid-template-rows: 70px auto;
}


.channel_index_items_header{
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.channel_index_items_channel_links{
    display: flex;
    align-items: center;
}

.channel_index_items_channel_links .fas{
    font-size: 34px;
    margin-left: 2px;
}


.channel_index_items_channel_links * {
    margin-right: 10px;
}

.channel_index_items_header_ch_name{
    /* position: relative; */
    font-size: 12px;
    color: rgb(116,116,116);
    display: flex;
    align-items: center;
}



.channel_index_items_header_ch_name > a{
   text-decoration: none;
   color: black;
   font-size: 20px; 
}


#channel-index-items-body > ul {
    display:flex;
}

.channel-index-item-thumbnails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    width: 210px;
    margin-right: 2px;
}

.channel-index-item-thumbnails:hover{
    cursor: pointer;
}



/////////////////////////////////
//With Toggle
/////////////////////////////////

@media screen and (max-width: 1530px){

    #channels-list{
        width: 1060px;
        padding-top: 80px;
        position: relative;
        overflow-y: scroll;
    }
}



@media screen and (max-width: 1305px){

    #channels-list{
        width: 845px;
        padding-top: 80px;
        position: relative;
        overflow: hidden;
    }
}



@media screen and (max-width: 1090px){

    #channels-list{
        width: 635px;
        padding-top: 80px;
        position: relative;
        overflow: hidden;
    }
}




@media screen and (max-width: 880px){

    #channels-list{
        width: 421px;
        padding-top: 80px;
        position: relative;
        overflow: hidden;
    }
}


@media screen and (max-width: 660px){
    #channels-list{
        width: 210px;
        padding-top: 80px;
        position: relative;
        overflow: hidden;
    }
}

/////////////////////////////////
//With Toggle
/////////////////////////////////


@media screen and (max-width: 1360px){

    #channels-list-toggled{
        width: 1060px;
        padding-top: 80px;
        position: relative;
        overflow-y: scroll;
    }
}



@media screen and (max-width: 1160px){

    #channels-list-toggled{
        width: 845px;
        padding-top: 80px;
        position: relative;
        overflow-y: scroll;
    }
}



@media screen and (max-width: 940px){

    #channels-list-toggled{
        width: 635px;
        padding-top: 80px;
        position: relative;
        overflow-y: scroll;
    }
}



@media screen and (max-width: 710px){

    #channels-list-toggled{
        width: 421px;
        padding-top: 80px;
        position: relative;
        overflow-y: scroll;
    }
}

@media screen and (max-width: 505px){

    #channels-list-toggled{
        width: 210px;
        padding-top: 80px;
        position: relative;
        overflow-y: scroll;
    }
}
