
#main-content-ctn{
    display: grid;
    grid-template-columns: 70px auto;
    height: 100%;
    position: absolute;
    z-index: 103;
    width: 100%;
}

#main-content-ctn-toggled{
    display: grid;
    grid-template-columns: 240px auto;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 103;
}


#main-content{
    grid-column: 2 / 3;
    background: rgb(250,250,250)
    /* overflow-y:  scroll; */
}


#main-content-section-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
#index-recommended-videos-ctn{
    margin-top: 56px;
    
}

.show-more-active{
}

.show-more-inactive{
    height: 425px;
    overflow: hidden;
}

#index-recommended-videos-ctn > div:first-child{
    font-weight:bold;
}

#index-recommended-videos{
    display:flex;
    flex-wrap:wrap;
    width: 1284px;
}

#index-recommended-videos .channel-index-item-thumbnails{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    width: 210px;
    margin-right: 4px;
    margin-bottom: 24px;
}

#show-more-button{
    height: 36px;
    outline:none;
    margin-bottom: 16px;
    margin-left: -7px;
    border: none;
    background: transparent;
    font-weight: 16px;
    color: rgb(114,114,114);
    font-size: 16px;
}

#channels-list{
    width: 1284px;
    padding-top: 10px;
}

#channels-list-toggled{
    width: 1284px;
    padding-top: 10px;
}

.channel_index_items{
    height: 295px;
    border-top: 1px solid rgb(225, 225, 255);
    display:grid;
    grid-template-rows: 70px auto;
}


.channel_index_items_header{
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.channel_index_items_channel_links{
    display: flex;
    align-items: center;
}

.channel_index_items_channel_links .fas{
    font-size: 34px;
    margin-left: 2px;
}


.channel_index_items_channel_links * {
    margin-right: 10px;
}

.channel_index_items_header_ch_name{
    font-size: 12px;
    color: rgb(116,116,116);
    display: flex;
    align-items: center;
}



.channel_index_items_header_ch_name > a{
   text-decoration: none;
   color: black;
   font-size: 20px; 
}


#channel-index-items-body > ul {
    display:flex;
}

.channel-index-item-thumbnails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    width: 210px;
    margin-right: 4px;
}

.channel-index-item-thumbnails:hover{
    cursor: pointer;
}


.margin-top-shelf{
    margin-top: 24px;
}



/////////////////////////////////
//With Toggle
/////////////////////////////////

@media screen and (max-width: 1530px){

    #channels-list{
        width: 1070px;
        padding-top: 10px;
        position: relative;
        //overflow-y: scroll;
        overflow: hidden;
    }

    #index-recommended-videos{
        display:flex;
        flex-wrap:wrap;
        width: 1070px;
    }
}



@media screen and (max-width: 1305px){

    #channels-list{
        width: 856px;
        padding-top: 10px;
        position: relative;
        overflow: hidden;
    }

     #index-recommended-videos{
        display:flex;
        flex-wrap:wrap;
        width: 856px;
    }

    #search-bar-input {
        width: 541px;
        height: 30px;
        padding: 0 10px;
        font-size: 15px;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        border: 1px solid #cccccc;
        outline: none;
        transition: width 0.2s linear;
    }
}



@media screen and (max-width: 1170px){

    #search-bar-input {
        width: 375px;
        height: 30px;
        padding: 0 10px;
        font-size: 15px;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        border: 1px solid #cccccc;
        outline: none;
        transition: width 0.2s linear;
    }
}


@media screen and (max-width: 1090px){

    #channels-list{
        width: 642px;
        padding-top: 10px;
        position: relative;
        overflow: hidden;
    }

    #index-recommended-videos{
        display:flex;
        flex-wrap:wrap;
        width: 642px;
    }


     .show-more-inactive{
        height: 400px;
    }
}


@media screen and (max-width: 880px){

    #channels-list{
        width: 428px;
        padding-top: 10px;
        position: relative;
        overflow: hidden;
    }

    #index-recommended-videos{
        display:flex;
        flex-wrap:wrap;
        width: 428px;
    }

    .show-more-inactive{
        height: 400px;
    }
}


@media screen and (max-width: 660px){
    #channels-list{
        width: 210px;
        padding-top: 10px;
        position: relative;
        overflow: hidden;
    } 
    
    #index-recommended-videos{
        display:flex;
        flex-wrap:wrap;
        width: 210px;
    }

    .show-more-inactive{
        height: 400px;
    }
}

/////////////////////////////////
//With No Toggle
/////////////////////////////////


// @media screen and (max-width: 1360px){

//     #channels-list-toggled{
//         width: 1060px;
//         padding-top: 10px;
//         position: relative;
//         //overflow-y: scroll;
//     }

//      #index-recommended-videos{
//         display:flex;
//         flex-wrap:wrap;
//         width: 1080px;
//     }
// }



// @media screen and (max-width: 1160px){

//     #channels-list-toggled{
//         width: 845px;
//         padding-top: 10px;
//         position: relative;
//         //overflow-y: scroll;
//     }

//      #index-recommended-videos{
//         display:flex;
//         flex-wrap:wrap;
//         width: 865px;
//     }
// }



// @media screen and (max-width: 940px){

//     #channels-list-toggled{
//         width: 635px;
//         padding-top: 10px;
//         position: relative;
//         //overflow-y: scroll;
//     }


//     #index-recommended-videos{
//         display:flex;
//         flex-wrap:wrap;
//         width: 655px;
//     }




//     #search-bar-input {
//         width: 225px;
//         height: 30px;
//         padding: 0 10px;
//         font-size: 15px;
//         border-top-left-radius: 2px;
//         border-bottom-left-radius: 2px;
//         border: 1px solid #cccccc;
//         outline: none;
//         transition: width 0.2s linear;
//     }
// }



// @media screen and (max-width: 710px){

//     #channels-list-toggled{
//         width: 421px;
//         padding-top: 10px;
//         position: relative;
//         //overflow-y: scroll;
//     }

//      #index-recommended-videos{
//         display:flex;
//         flex-wrap:wrap;
//         width: 428px;
//     }

//     .show-more-inactive{
//         height: 400px;
//     }
// }

// @media screen and (max-width: 505px){

//     #channels-list-toggled{
//         width: 210px;
//         padding-top: 10px;
//         position: relative;
//         //overflow-y: scroll;
//     }

//      #index-recommended-videos{
//         display:flex;
//         flex-wrap:wrap;
//         width: 228px;
//     }

//     .show-more-inactive{
//         height: 400px;
//     }
// }
