.vid-dark-scn{
    background: rgba(0,0,0,0.5);
    position: absolute;
}

.vid-ldr{
    position: absolute;
}


.vid-ldr .spinner{
    border: 6px solid transparent;
    border-top: 6px solid #f3f3f3;
    border-bottom: 6px solid  #f3f3f3;
    width: 60px;
    height: 60px;
    transition: border 0.2s linear;
    animation: spin-2 2s ease-out infinite;
}

 @keyframes spin-2{
  0% { transform: rotate(0deg); }
  50% { transform: rotate(270deg); }
  100% { transform: rotate(540deg); }
}

#video-player {
    width: 100%;
    height: auto;
    max-height: 660px;
    outline: none;
    background: black;
    object-fit: cover;
}


#video-player:focus{
    outline: none;
}

.progress-bar{
    width: 97.5%;
    height: 3px;
    position: relative;
    border-radius: 2px;
    background: rgba(124,124,124,0.6);
    transition: height 0.15s linear;   
}

.progress-bar:hover{
    height: 5px;
}


.buffer-stream{
    position: absolute;
    z-index: 1;
    background: darkgray;
    height: 100%;
}

.user-stream{
    position: absolute;
    z-index: 2;
    height: 100%;
    color: red;
    background:red;
}

.hover-bar{
    position: absolute;
    z-index: 1;
    background: rgba(220,220,220,0.5);
    height: 100%;
}

.seeker-bar{
    position: absolute;
    z-index: 3;
    height: 4px;
    width: 100.5%;
    padding: 0;
    margin: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.15s linear;
}

.seeker-bar:hover{
    opacity: 1;
    height: 100%;
    cursor: pointer;
}

.seeker-bar::-webkit-slider-thumb{
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    color: red;
    background:red;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    margin-left: -1px;
}

.seeker-bar::-moz-range-thumb{
    color: red;
    background: red;
    height:14px;
    width: 14px;
    border-radius: 50%;
    border: none;
}

.progress-bar input[type='range']{
    -webkit-appearance: none;
    color: red;
    background: transparent;
    outline: none;
}

.play-button{
    background: transparent;
    color: gray;
}

.play-button:hover{
    cursor: pointer;
}

.vid-ctrl{
    position: absolute;
    background: linear-gradient(  rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    opacity: 1; 
}

.vc-play{
    opacity: 0;
    transition: opacity 0.1s linear;
}

.vid-player-hook:hover{
    .vc-play{
        opacity: 1;
    }
}


.vid-ctrl-ui{
    margin: 2px 0;
    width: 100%;
}

.vid-ctrl-ui i{
    color: rgb(231,231,231)
}

.i-wrap{
    position: relative;
    z-index: 10000; /*Joke Value*/
}

.i-msg-v{
    display: none;
    position: absolute;
    background: rgb(25,25,25);
    color: white;
    font-size: 12px;
    padding:5px 10px;
    white-space: nowrap;
    top: -24px;
}

.i-pos-lft{
    left: -10px;
}

.i-pos-rgt{
    right: -15px;
}


.vid-ctrl-ui i:hover{
    color: white;
}

.vid-ctrl-ui i:hover + .i-msg-v{
    display: block;
}


.vol-ctrl-div{
    width:auto;
    position: relative;
}


.vol-ctrl{
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    outline: none;
    width: 101%;
    position: absolute;
    z-index: 2;
    margin-top: -5px;
    margin-left: 1px;
}


.vol-ctrl::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: white;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    margin-top: 1.5px;
}

.vol-ctrl::-moz-range-thumb{
    -moz-appearance: none;
    background: white;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    border: none;
}

.vol-ctrl::-webkit-slider-runnable-track {
    box-shadow: none;
    border: none;
    background: transparent;
    -webkit-appearance: none;
}

.vol-ctrl::-moz-range-track{
    box-shadow: none;
    border: none;
    background: transparent;
    margin-top: -2px;
}

.vol-ctrl::-moz-range-progress {
    background-color: transparent;
}

.vol-ctrl-bar-wrap{
    margin-left: 8px;
    width: 0px;
    transition: width 0.2s linear;
    overflow-x: hidden;
    position: relative;
    height: 20px;
}

.vol-ctrl-bar{
    width: 0px;
    background: rgba(75,75,75, 0.9);
    transition: width 0.1s linear;
    height: 3px;
}

.vol-ctrl-track{
    height: 3px;
    background: white;
    position: absolute;
    z-index: 1;
}



.vol-ctrl-div:hover{

    .vol-ctrl-bar-wrap{
        width: 52px;
        transition: width 0.2s linear;
    }

    .vol-ctrl-bar{
        width: 50px;
        visibility: visible;
        transition: width 0.2s linear;
    }

    .vol-ctrl-track{
        visibility: visible;
    }

    .vol-ctrl{
        width: 50px;
        visibility: visible;
        transition: width 0.1s linear;
        cursor: pointer;
    }
}



.vid-ctrl-ui > section{
    padding: 0 2%;
}

.vid-ctrl-ui > section:first-child > div{
    margin: 0 5px;
}


.vid-time{
    color: white;
    font-size: 12px;
    width: 57px;
    height: 12px;
}

.vid-time div{
    min-width: 57px;
    display:flex;
}



.vid-player-hook{
    grid-row: 1 / 2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.vph-fullscn{
    position: fixed;
    bottom: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 2000;
    background:transparent;
}

.vph-fullscn {

    .vid-ctrl, .vc-play{
        opacity: 1;
        width: 100%;
        z-index: 2003;
        bottom:0;
        position: absolute;
    }

    #video-player {
        width: 100%;
        height: 100%;
        max-height: none;
        outline: none;
        background: black;
        position:absolute;
        z-index: 2001;
        bottom:0;
        top:0;
        right:0;
        left:0;
    }

    #video-dark-screen{
        background: rgba(0,0,0,0.5);
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 2002;
    }

  
}

#mini-player{
    position: fixed;
    width: 200px;
    height: 200px;
    bottom: 200px;
    right: 200px;
}

.vid-player-desc{
    padding: 14px 16px 16px 16px;
    height: 34px;
}


.vid-player-desc > span:last-child{
    font-size: 12px;
    color: gray;
}


.mini-ctrl-ui{
    opacity: 0;
    transition: opacity 0.1s linear;
    background: rgba(0,0,0,0.5);
    margin: 0;
}

.mini-ctrl-ui:hover{
    opacity: 1;
}

.mini-ctrl-ui > div{
    width: 100%;    
}

.mini-ctrl-ui > div:first-child{
    display:flex;
    justify-content: flex-end;
    color:white;
}

.mini-ctrl-ui > div:first-child > * {
        margin-right:12px;
        margin-top:12px;
}

.mini-ctrl-ui > div:last-child{
    display:flex;
}   

.mini-ctrl-ui > div:last-child > * {
    margin-left: 12px;
    margin-bottom: 12px;
}



.mini-scn-ply-btn{
    width: 60px;
    height: 60px;
}

.mini-scn-ply-btn:hover{
    cursor: pointer;
}

.mini-scn-ply-btn i{
    width: 50px;
    height: 50px;
    font-size: 50px;
    color:white;
}


.volume-icon{
    opacity: 1;
    transition: opacity 0.5s linear;
}

