.video-page--main-content{
    padding-top: 85px;
    display: grid;
    grid-template-columns: auto 402px;
    width: 100%;
    position: relative;
}


.post-desc{
    white-space: pre-wrap;
}

.video-like-dislike--container{
    width: 360px;
    height: 100%;
}

.video-like-dislike--info{
    width: 120px;
    color: rgb(144,144,144);
    height: calc(100% - 2px)
}

.like-dislike--bar{
    width: 150px;
    height: 2px;
    background-color: rgb(204,204,204);
    margin-left: 10px;
    border-radius: 2px;
}

.like-dislike--ratio-bar{
    background: rgb(114,114,114);
    height: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    transition: width 0.3s linear;
}

.like-dislike--ratio-bar--voted{
    background: rgb(36, 97, 205);
}

.video-like-dislike--info i {
    padding: 0 10px;
    font-size: 20px;
}

.video-like-dislike--info > span:hover{
    cursor: pointer;
}

.like-counts{
    font-size: 14px;
    color: black;
}

.voted{
    color: rgb(36, 97, 205);
}

.video-page-thumbnail-info{
    height: 95px;
}

.video-page-thumbnail-info > section{
    margin-bottom: 7px;
    margin-left: 5px;
    height: auto;
}

.video-page-thumbnail-info > section:first-child{
    font-size: 14px;
    padding: 0;
    font-family: sans-serif;
}
.video-page-thumbnail-info > section:not(:first-child){
    color: rgb(134,134,134);
    font-size: 13px;
}
