
#video-main{
    padding-top: 85px;
    display: grid;
    grid-template-columns: auto 75% 25%;
    width: 100%;
    position: relative;
}

#video-main-mini{
    width: 100%;
    height: 100%;
}


#video-main-ctn{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
}

#video-main-ctn-mini{
   position: fixed;
   bottom: 0px;
   right: 15px;
   width: 400px;
   height: 290px;
   display: flex;
   align-items: flex-start;
   z-index: 3000;
   box-shadow: 0 0 10px rgb(204, 204,204);
   background: white;
}


#video-main-ctn-mini:hover{
     box-shadow: 0 0 10px rgb(0,0,0);
}



#video-main-left{
    grid-column: 2 / 3;
    padding: 0 24px;
    display: grid;
    grid-template-rows: auto 110px auto auto;
}

#video-main-left-mini{
    width: 100%;
    height: 100%;
}


#video-info-header{
    grid-row: 2 / 3;
    display: grid;
    grid-template-rows: 50% 50%;
    border-bottom: 1px solid rgb(229, 229, 299);
}


#video-info-header > section:first-child{
    grid-row: 1 / 2;
    display: flex;
    align-items: flex-end;
    font-size: 20px;
}


#video-info-header > section:last-child{
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(96, 96, 96);
}


#video-info-body{
    grid-row: 3 / 4;
    height: 185px;
    border-bottom: 1px solid rgb(229, 229, 299);
}

#video-info-body > section:first-child{
    padding: 15px 0;
    height: 50px;
    display: grid;
    grid-template-columns: 65px auto;
}

#channel-user-profile-pic{
    grid-column: 1 / 2;
    font-size: 45px;
}


#video-info-body-header{
    grid-column: 2 / 3;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

#video-info-body-header > div:first-child{
    display:flex;
    flex-direction: column;
}


#video-info-body-header > div:first-child > a{
    text-decoration: none;
    font-size: 16px;
    color: black;
}


#video-info-body > section:last-child{
    display: grid;
    grid-template-columns: 65px auto;
}


#vid-channel-name{
    font-size: 15px;
}

#vid-video-date{
    font-size: 14px;
    color: rgb(96, 96, 96);
}


#video-description{
    grid-column: 2 / 3;
    font-size: 14px;
}


#video-main-right{
    grid-column: 3 / 4;
    position: absolute;
    margin-top: 85px;
    width: 100%;
}


#video-info-header-utils{
    width: 360px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#vid-like-dislike-icons{
    display: flex;
    width: 120px;
    justify-content: space-between;
    align-items: center;
    color: rgb(144,144,144);
    height: calc(100% - 2px)
}

#like-dislike-bar{
    width: 150px;
    height: 2px;
    background-color: rgb(204,204,204);
    margin-left: 10px;
    border-radius: 2px;
}

#like-ratio-bar{
    background: rgb(114,114,114);
    height: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    transition: width 0.3s linear;
}

#like-ratio-bar-voted{
    background: rgb(36, 97, 205);
    height: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    transition: width 0.3s linear;
}

#vid-like-dislike-icons  i {
    padding: 0 10px;
    font-size: 20px;
}

#vid-like-dislike-icons  > span:hover{
    cursor: pointer;
}

#vid-like-dislike-icons  > span{
    display: flex;
    align-items: center;
    justify-content: center;
}

.like-counts{
    font-size: 14px;
    color: black;
}

.voted{
    color: rgb(36, 97, 205);
}



#video-main-right{
    grid-column: 3 / 4;
    position: absolute;
    margin-top: 85px;
    width: 100%;
}


#preview-video-list {
    display: flex;  
    flex-direction: column;
    width: 100%;
    max-width: 402px;
}

#preview-video-list  .thumbnails{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-direction: row;

}

#preview-video-list .thumbnails-media, 
#preview-video-list .thumbnail-preview,
#preview-video-list .thumbnail-preview-video,
#preview-video-list .thumbnail-preview-video-active{
    height: 95px;
    width: 170px;
}

#preview-video-list .thumbnail-preview{
    opacity: 1;
    transition: opacity 0.25s linear;
}

#preview-video-list .thumbnail-preview-active{
    height: 95px;
    width: 170px;
    opacity: 0;
    position: relative;
    transition: opacity 0.5s ease-in;
}

#preview-video-list > li:first-child{
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(216,216,216);
    margin-bottom: 15px;
}

#videopage-thumbnail-preview{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 95px;
}

#videopage-thumbnail-preview > section{
    margin-bottom: 7px;
    margin-left: 5px;
    height: auto;
}

#videopage-thumbnail-preview > section:first-child{
    font-size: 14px;
    padding: 0;
    font-family: sans-serif;
}
#videopage-thumbnail-preview > section:not(:first-child){
    color: rgb(134,134,134);
    font-size: 13px;
}
