.vid-mn{
    padding-top: 85px;
    display: grid;
    grid-template-columns: auto 75% 25%;
    width: 100%;
    position: relative;
}

.vmc-mini{
    position: fixed;
    bottom: 0px;
    right: 15px;
    width: 400px;
    height: 290px;
    z-index: 3000;
    box-shadow: 0px 19px 10px -1px rgba(100,100,100, 0.5);
    background: white;
}

.vmc-mini:hover{
     box-shadow: 0 0 10px rgb(0,0,0);
}

.vid-mn-lf{
    grid-column: 2 / 3;
    padding: 0 24px;
    display: grid;
    grid-template-rows: auto 110px auto auto;
}

.vid-info-hdr{
    grid-row: 2 / 3;
    display: grid;
    grid-template-rows: 50% 50%;
    border-bottom: 1px solid rgb(229, 229, 299);
}


.vid-info-hdr > section:first-child{
    grid-row: 1 / 2;
    font-size: 20px;
}


.vid-info-hdr > section:last-child{
    grid-row: 2 / 3;
    color: rgb(96, 96, 96);
}


.vid-info-bd{
    grid-row: 3 / 4;
    min-height: 185px;
    height: auto;
    border-bottom: 1px solid rgb(229, 229, 299);
}

.vid-info-bd > section{
    display: grid;
    grid-template-columns: 65px auto;
}

.vid-info-bd > section:first-child{
    padding: 15px 0;
    height: 50px;
}

.vid-info-bd > section:last-child{
    height: 30px;
}

.ch-usr-prf-pic{
    grid-column: 1 / 2;
    font-size: 45px;
}

.vid-info-bd-hdr{
    grid-column: 2 / 3;
    height: 100%;
}

.vid-ch-name{
    font-size: 15px;
    text-decoration: none;
    font-size: 16px;
    color: black;
}

.vid-date{
    font-size: 14px;
    color: rgb(96, 96, 96);
}

.vid-desc{
    grid-column: 2 / 3;
    font-size: 14px;
    word-break: break-word;
    max-height: 90px;
    overflow: hidden;
    line-height: 18px;
    width: 95%;
}

.post-desc{
    white-space: pre-wrap;
}

.vid-mn-r{
    grid-column: 3 / 4;
    position: absolute;
    width: 100%;
    margin-top: 85px;
}


.vid-info-hdr-utils{
    width: 360px;
    height: 100%;
}

.vid-ld-i{
    width: 120px;
    color: rgb(144,144,144);
    height: calc(100% - 2px)
}

.ld-bar{
    width: 150px;
    height: 2px;
    background-color: rgb(204,204,204);
    margin-left: 10px;
    border-radius: 2px;
}


.ldr-bar{
    background: rgb(114,114,114);
    height: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    transition: width 0.3s linear;
}

.ldrb-voted{
    background: rgb(36, 97, 205);
}


.vid-ld-i i {
    padding: 0 10px;
    font-size: 20px;
}

.vid-ld-i > span:hover{
    cursor: pointer;
}

.like-counts{
    font-size: 14px;
    color: black;
}

.voted{
    color: rgb(36, 97, 205);
}


.prev-vid-lst{
    width: 100%;
    max-width: 402px;
}

//Required for default override
.prev-vid-lst  .thumbnails{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-direction: row;

}

.prev-vid-lst .tbn-ctnt, 
.prev-vid-lst .thumbnail-preview,
.prev-vid-lst .thumbnail-preview-video,
.prev-vid-lst .tn-prev-vid-active{
    height: 95px;
    min-width: 170px;
    max-width: 170px;
}


.prev-vid-lst .tbn-prev-wrap{
    opacity: 1;
    transition: opacity 0.15s linear;
    height: 95px;
    width: 170px;
}

.prev-vid-lst .tbn-active{
    opacity: 0;
    position: relative;
    transition: opacity 0.5s ease-in;
}

.prev-vid-lst > li:first-child{
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(216,216,216);
    margin-bottom: 15px;
}

.vpg-tbn-prev{
    height: 95px;
}

.vpg-tbn-prev > section{
    margin-bottom: 7px;
    margin-left: 5px;
    height: auto;
}

.vpg-tbn-prev > section:first-child{
    font-size: 14px;
    padding: 0;
    font-family: sans-serif;
}
.vpg-tbn-prev > section:not(:first-child){
    color: rgb(134,134,134);
    font-size: 13px;
}
