@media screen and (max-width: 1530px){
    .channel-videos-list{
        grid-template-columns: repeat(5, 210px);
    }
}

@media screen and (max-width: 1502px){
    .channel-header-wrap{
        width: 1000px;
    }

    .channel-header--body-wrapper{
        width: 1000px;
        grid-template-columns: 813px 187px;
    }
}


@media screen and (max-width: 1305px){
    .main-content--container{
        grid-template-columns: 70px auto;
     }

    .search-bar--input {
        width: 541px;
        transition: width 0.2s linear;
    }

    .channel-videos-list{
        grid-template-columns: repeat(4, 210px);
    }
}


@media screen and (max-width: 1256px){
    
    .channel-header-wrap{
        width: 754px;
    }

    .channel-header--body-wrapper{
        width: 754px;
    }

}


@media screen and (max-width: 1170px){

    .search-bar--input {
        width: 375px;
        transition: width 0.2s linear;
    }
}



@media screen and (max-width: 1090px){
    .main-content--container, .channel-main-content--grid-toggled{
        grid-template-columns: 70px auto;
    }

    #ch-vid-ctn-nav-toggled, #user-all-videos-list-toggled{
        width: 88.5%;
    }

    .channel-header--nav-fixed{
        width: calc(100% - 70px);
    }

}

@media screen and (max-width: 910px){
    .search-bar--input {
        width: 300px;
        transition: width 0.2s linear;
    }

    .channel-videos-list{
        grid-template-columns: repeat(3, 210px);
    }
}

@media screen and (max-width: 850px){
     .channel-header-wrap{
        width: 650px;
     }

    .channel-header--body-wrapper{
        width: 650px;
    }

    .search-bar--input {
        width: 200px;
        transition: width 0.2s linear;
    }

}



@media screen and (max-width: 750px){

    #sub-side-nav{
        display: none;
        width: 0px;
    }

    .main-content--container, .channel-main-content--grid, .channel-main-content--grid-toggled{
        grid-template-columns: 0px auto;
    }

    #channel-header-nav-fixed, .channel-header--nav-fixed{
        width: 100%;
    }

    .main-side-nav--container{
        width: 0px;
    }

}

@media screen and (max-width: 660px){
    .channel-header-wrap{
        width: 500px;
     }

    .channel-header--body-wrapper{
        width: 500px;
    }

    .channel-videos-list{
        grid-template-columns: repeat(2, 210px);
    }
}