@media screen and (max-width: 1530px){

    .ch-list{
        width: 1070px;
    }
    
    .ch-idx-item-hdr{
        width: 1070px;
    }

    .idx-rec-vid{
        display:flex;
        flex-wrap:wrap;
        width: 1070px;
    }

    .usr-av-lst{
        grid-template-columns: repeat(5, 210px);
    }
}

@media screen and (max-width: 1502px){


    .ch-hdr-wrap{
        width: 1000px;
    }

    .chhw-wrap{
        width: 1000px;
        grid-template-columns: 813px 187px;
    }

    .ch-ctn-lwr-hk {
        grid-template-columns: 767px 187px;
        width: 1000px;
    }

}


@media screen and (max-width: 1305px){

    .ch-list{
        width: 856px;
    }

    .ch-idx-item-hdr{
        width: 856px;
    }

     .idx-rec-vid{
        display:flex;
        flex-wrap:wrap;
        width: 856px;
    }

    .sbi {
        width: 541px;
        transition: width 0.2s linear;
    }

    .usr-av-lst{
        grid-template-columns: repeat(4, 210px);
    }
}


@media screen and (max-width: 1256px){
    
    .ch-hdr-wrap{
        width: 754px;
    }

    .chhw-wrap{
        width: 754px;
    }

    .ch-ctn-lwr-hk {
        width: 754px;
        grid-template-columns: 567px 187px;
    }


}


@media screen and (max-width: 1170px){

    .sbi {
        width: 375px;
        transition: width 0.2s linear;
    }
}



@media screen and (max-width: 1090px){
    .main-ctnt-ctn, .cmcg-tgl{
        grid-template-columns: 70px auto;
    }

    #ch-vid-ctn-nav-toggled, #user-all-videos-list-toggled{
        width: 88.5%;
    }

    .chhn-fixed{
        width: calc(100% - 70px);
    }

    .ch-list{
        width: 642px;
    }

    .ch-idx-item-hdr{
        width: 642px;
    }

    .idx-rec-vid{
        display:flex;
        flex-wrap:wrap;
        width: 642px;
    }

}

@media screen and (max-width: 910px){
    .sbi {
        width: 300px;
        transition: width 0.2s linear;
    }

    .usr-av-lst{
        grid-template-columns: repeat(3, 210px);
    }
}

@media screen and (max-width: 850px){
     .ch-hdr-wrap{
        width: 650px;
     }

    .chhw-wrap{
        width: 650px;
    }

    .ch-ctn-lwr-hk {
        grid-template-columns: 463px 187px;
        width: 650px;
    }

    .sbi {
        width: 200px;
        transition: width 0.2s linear;
    }

}



@media screen and (max-width: 750px){

    #ssn{
        display: none;
        width: 0px;
    }

    .main-ctnt-ctn, .ch-mn-ctnt-grid, .cmcg-tgl{
        grid-template-columns: 0px auto;
    }

    #channel-header-nav-fixed, .chhn-fixed{
        width: 100%;
    }

    .msn-ctn{
        width: 0px;
    }

}



@media screen and (max-width: 720px){

    .ch-list{
        width: 428px;
    }

    .ch-idx-item-hdr{
        width: 428px;
    }

    .idx-rec-vid{
        display:flex;
        flex-wrap:wrap;
        width: 428px;
    }
}

@media screen and (max-width: 660px){
    .ch-hdr-wrap{
        width: 500px;
     }

    .chhw-wrap{
        width: 500px;
    }

    .ch-ctn-lwr-hk {
        grid-template-columns: 313px 187px;
        width: 500px;
    }

    .usr-av-lst{
        grid-template-columns: repeat(2, 210px);
    }
}